body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: #000 !important;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Maven Pro", sans-serif !important;
  color: #fff !important;
}

#root {
  height: 100vh
}


a {
  text-decoration: none !important;
}