.headerContainer a {
  font-weight: 100;
}

.headerContainer {
  background: #fff;
  margin-bottom: 1.45em;
}

.headerSubContainer {
  margin: 0 auto;
  max-width: 1140px;
  padding: 1.45rem 1.0875rem;
}

.navigationContainer {
  display: flex;
  min-width: 1140px;
}

.navigations {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  flex: 1;
}

.resume li a:active,
.resume li a:hover,
.navigations li a:active,
.navigations li a:hover {
  color: #000;
}

div.navigations li:first-child a {
  margin-left: 0;
}
